{% extends 'base.html'  %}
{{records}}
{% block content %}
    <table>
        <thead class="table table-primary">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th> Date of Birth</th>
                <th> Email </th>
                <th> Phone Number </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody class="table table-dark">
        {% for record in records %}
        <tr>
            <td>{{ record.first_name }}</td>
            <td>{{ record.last_name }}</td>
            <td>{{ record.date_of_birth }}</td>
            <td>{{ record.email }}</td>
            <td>{{ record.phone_number }}</td>
            <td><a class="btn btn-primary" href="{% url 'student_update_url' record.id %}">Update</a></td>
            <td><a class="btn btn-warning" href="{% url 'student_update_url' record.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
